<app-header></app-header>

<div class="form-login-container">
    <h2>Iniciar sesión</h2>
    <app-textbox [props]="{placeholder : 'Usuario', class: 'form-input'}"></app-textbox>
    <app-textbox [props]="{placeholder : 'Contraseña', class: 'form-input'}" ></app-textbox>
    <app-textbox [props]="{placeholder : 'Código de inicio de sesión', class: 'form-input'}" ></app-textbox>
    <p>*El inicio de sesión es solamente para usuarios administradores</p>
    <app-input-button [props]="{value : 'Iniciar sesión', class : 'form-button'}"></app-input-button>
</div>